label {
    width: 100px;
    display: inline-block
}

#Uname,
#Pass {
    padding: 8px 10px;
    border: 1px solid #dadada;
    border-radius: 7px;
}

#Uname:focus,
#Pass:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


/*Contact table*/

.contacts {
    position: relative;
    margin-top: 40px;
    width: 80%;
    margin: auto;
}

.contacts table {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.search {
    margin-bottom: 20px;
}

#search {
    float: right;
    padding: 7px;
    border-radius: 5px;
}


/* Add Contact form */

.add-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
}

.add-contact {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px 10px rgb(197, 197, 197);
}