label {
    width: 100px;
    display: inline-block
}

#Uname,
#Pass {
    padding: 8px 10px;
    border: 1px solid #dadada;
    border-radius: 7px;
}

#Uname:focus,
#Pass:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}